*.pyc
*.pyo
*.fzn
*.dll
*.mf
deploy/
pandac/
*.dis
*.log
screenshots/
sign/
whitelist/
news/
Library/
*.buildings
*.trackRecords
*.DS_Store
backups/
settings.json
errorCode
PPYTHON_PATH
nuitka-crash-report.xml
*.dist/
*.build/

toontown/archipelago/output/

# PyCharm IDE
.idea
.run/
venv/

# Build
output/
release/
apworld/toontown.apworld
launch/windows/PPYTHON_PATH
dedicated_server_settings.json
sr_leaderboard_cache.json
launch/docker/database/
launch/docker/.env
